@model Party
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the Wedding Planner!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    table th,table td
    {
        width:100px;
    }
    .mini-wrap{
        margin-left: 900px;
        display:inline-block;
    }
</style>
</head>
<body>
    <div class = wrapper>
        <h1>Dojo Activity Center</h1>  
        <div class="mini-wrap">        
        <a href="/party/new"><button type="submit" class="btn btn-outline-info">New Activity</button></a>&nbsp;    
        <a href="/logout"><button type="submit" class="btn btn-outline-info">Logout</button></a> 
        </div>
        <hr>
        <br>
        <br>
    <table class="table">
            <thead class="thead-dark">
                <tr>    
                <th scope="col">Activity</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col">No. of Participants</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            @foreach(Party party in ViewBag.Parties)
            {
                <tr>
                    <td><a href="/view/@party.PartyId">
                        @party.PartyName</a>
                    </td>
                    <td>@party.PartyDate</td>
                    <td>@party.Duration @party.TimeFormat</td>
                    <td>@party.Planner.Name</td>
                    <td>@party.AttendingUsers.Count()</td>
                    <td>
                    @{
                        if(@ViewBag.UserId == @party.PlannerId)
                            {
                                <a href="/edit/@party.PartyId">Edit</a>
                                <a href="/delete/@party.PartyId">Delete</a>
                            }
                            else
                            {
                                    bool joined = false;
                                    foreach(Join j in @party.AttendingUsers)
                                    {
                                        if(j.UserId == @ViewBag.UserId)
                                        {
                                            joined = true;
                                        }
                                    }
                                    if(joined)
                                    {
                                        <a href="/leave/@party.PartyId">Leave</a>
                                    }
                                    else
                                    {
                                        <a href="/join/@party.PartyId">Join</a>
                                    }
                                }
                                
                            }
                    </td>
                </tr>
                }
            <tbody>
            </tbody>
    </table>
        </div>
        <br>
    </div>   
</body>
</html>